<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{fragmentos/headYFoot :: head}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>index</div>
        <ul>
            <li th:each="noticia : ${noticias}">
                Id: [[${noticia.id}]]
                <ul>
                    <li>[[${noticia.titulo}]]</li>
                    <li>[[${noticia.cuerpo}]]</li>
                </ul>
            </li>
        </ul>
        <script th:replace="~{fragmentos/headYFoot :: script}"></script>
    </body>
</html>